.input-container {
  padding: 30px;
  text-align: center;
}

.pressure-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2em;
  text-align: center;
}

.submit-button {
  padding: 15px 20px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: #28a745; /* Verde para acción positiva */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.submit-button:not(:disabled):hover {
  background-color: #218838;
}